.navbar {
    background-color: #3366cc;
    .navbar-nav {
        .nav-link {
            color: #fff;
            font-family: 'Poppins', sans-serif;
            
            &:hover {
                border-radius: 5px;
                background-color: #fff;
                color: #3366cc;
            }
        }

        .get-started {
            background-color: rgb(245, 245, 245);
            padding: 8px 20px 8px 20px;
            color: rgb(107, 107, 255);
            border: 1px solid #fff;
            border-radius: 20px;
            font-family: 'Poppins', sans-serif;
    
            &:hover {
                background-color: #fff;
                color: blue;
                font-family: 'Poppins', sans-serif;
            }
        }
    }
}

.hero {

    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: #2f281e;
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        color: #2f281e;
    }
}

.feature-heading {
    margin-top: 100px;

    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 35px;
    }
}